.datepicker-inline {
   position: absolute;
}
.datepicker--pointer {
   display: none;
}
.datepicker.-from-bottom- {
   -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
}
.abs {
   position: absolute;
}