.expandable-checkbox-list__header {
   @extend %noselect;
   display: flex;
   justify-content: space-between;
   cursor: pointer;
}
.expandable-checkbox-list__rows {
   padding-top: 18px;
}
.expandable-checkbox-list__row {
   
   // That rule is important.
   // If not present, in Firefox and Chrome flags will have different top offset

   // *****
   display: flex;
   // *****
}
.expandable-checkbox-list__row:not(:first-child) {
   margin-top: 11px;
}
.expandable-checkbox-list__arrow {
   margin-top: 1px;
   margin-right: 16px;
}

.expandable-checkbox-list__checkbox {
   opacity: 0;
}
.expandable-checkbox-list__label {
   margin-left: 10px;
   position: relative;
   
   font-family: MontserratRegular;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 18px;
   
   color: $DarkShade50;
}

   // checkbox border

label.expandable-checkbox-list__label::before{
   position: absolute;
   left: -30px;
   content: "";
   display: inline-block;
   height: 20px;
   width: 20px;
   border: 1px solid;
   
   background: #FFFFFF;

   border: 1px solid $DarkShade25;
   box-sizing: border-box;
   border-radius: 4px;
}

   // checkbox flag

label.expandable-checkbox-list__label::after {
   position: absolute;
   left: -25px;
   top: 4px;
   content: "";
   display: inline-block;
   height: 10px;
   width: 10px;
   
   background-image: url('./bem/expandable-checkbox-list/expandable-checkbox-list__flag.svg');
}

   // make checkbox flag visible when element is checked

input[type="checkbox"].expandable-checkbox-list__checkbox + label::after {
    content: none;
}
input[type="checkbox"].expandable-checkbox-list__checkbox:checked + label::after {
    content: "";
}

   // border is purple when checked

input[type="checkbox"].expandable-checkbox-list__checkbox:checked + label::before {
    border-color: $Purple;
}