.footer {
   background: #FFFFFF;
   box-shadow: 0px 10px 20px $DarkShade5;
}
.footer__margin {
   flex-shrink: 1;
   flex-grow: 0;
   flex-basis: 130px;
}
.footer__content {
   display: flex;
   align-items: start;
   justify-content: center;

   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;

   flex-shrink: 0;
   flex-grow: 1;

   flex-basis: 1180px;
}
.footer__col-left-content {
   flex-shrink: 1;
   flex-grow: 1;
}
.footer__col-left-side {
   padding-left: 10px;
   flex: 1 1 22%;
}
.footer__col-left-side > .footer__margin {
   display: none;
}
.footer__col-center {
   display: flex;
   justify-content: space-around;
   
   flex: 1 1 55.6%;
}
.footer__col-right-side {
   margin-right: 10px;
   margin-left: 10px;
   flex: 1 1 22.4%;
}
.footer__col-right-side > .footer__margin {
   display: none;
}
@media only screen and (max-width: $MobileMaxWidth) {
   .footer__col-left-side {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
   }
   .footer__col-left-content {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .footer__col-left-side > .footer__margin {
      display: block;
   }
   .footer__col-center {
      margin-top: 30px;
      flex-basis: 100%;
   }
   .footer__col-right-side {
      display: flex;
      flex-basis: 100%;
      margin: 20px 10px 0 10px;
   }
   .footer__col-right-content {
      display: flex;
      flex-shrink: 0;
      flex-grow: 1;

      flex-basis: 700px;
      flex-direction: column;
   }
   .footer__col-right-side > .footer__margin {
      display: block;
   }
   .footer__content {
      flex-wrap: wrap;
   }
   .footer__description {
      text-align: center;
   }
}
@media only screen and (max-width: 740px) {
   .footer__col-right-content {
      flex-basis: 100%;
   }
}
@media only screen and (max-width: 1180px) {
   .footer__content {
      -webkit-flex-basis: 100%;
              flex-basis: 100%;
   }
}
.footer__menu-section {
   padding-top: 103px;
   padding-bottom: 102px;

   display: flex;
   align-items: start;
   justify-content: center;
   
   background: #FFFFFF;
}
.footer__logo-text {
   margin-left: 12px;
}
.footer__logo-wrapper {
   display: flex;
   -webkit-align-items: center;
           align-items: center;
       
   position: relative;
   top: -3px;
}
.footer__description {
   margin-top: 17px;
}
.footer__menu {
   padding: 0;
   margin: 0;
   list-style: none;
}
.footer__menu-item {
   font-family: MontserratRegular;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   
   margin-top: 21px;
   color: $DarkShade50;
}
.footer__menu-item:first-child {
   margin-top: 0;
}
.footer__menu-item_header {
   font-family: MontserratBold;
   font-weight: bold;
   font-size: 12px;
   line-height: 15px;

   text-transform: uppercase;

   color: $DarkShade100;
}
.footer__subscribe-call {
   margin-top: 21px;
}
.footer__copyright-text {
   margin-left: 10px;
}
.footer__copyright-section {
   display: flex;
   height: 70px;
   background-color: white;
   
   border-top: 1px solid #dedee3;
}
.footer__copyright-content {
   -webkit-flex-grow: 1;
           flex-grow: 1;
   height: 70px;
   -webkit-align-items: center;
           align-items: center;
   display: flex;
   justify-content: space-between;
}
.footer__icon-wrapper {
   margin: 0 11px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer__icon {
   width: 24px;
   height: 24px;
}
.footer__icons-wrapper {
   display: flex;
}
.footer__icon-wrapper:first-child {
   margin-right: 10px;
}

.footer__compact {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
   padding: 103px 0 110px;

   background: #FFFFFF;
   box-shadow: 0px 10px 20px $DarkShade5;  
}
.footer__compact-description-wrapper {
   margin-top: 15px;
   margin-bottom: 28px;
   display: flex;
}
.footer__compact-margin {
   flex-grow: 1;
}
.footer__compact-description {
   margin: 0 5px;
   flex-grow: 0;
   text-align: center;
   -webkit-flex-basis: 560px;
           flex-basis: 560px;
}
.footer__icons-wrapper_compact {
   margin-right: 1px;
}