mixin date-dropdown(name, value)
   .date-dropdown
      h3.date-dropdown__header=name
      div.date-dropdown__select=value
         img(src=require('./bem/date-dropdown/date-dropdown__arrow.svg').default).date-dropdown__arrow