mixin rate_button(starNumber=5, rating=5)
   .rate-button
      - var i = 0;
      while i < starNumber
         if i < rating
            .rate-button__star.rate-button__enabled
         else
            .rate-button__star.rate-button__disabled
         - i++