.rich-checkbox-buttons {
   display: flex;
   flex-direction: column;
}
.rich-checkbox-buttons__header {
   margin-bottom: 7px;
}
.rich-checkbox-buttons__checkbox {
   opacity: 0;
}
.rich-checkbox-buttons__row {
   display: flex;
}
.rich-checkbox-buttons__row:not(:first-child) {
   margin-top: 9px;
}
.rich-checkbox-buttons__label {

   margin-left: 10px;
   position: relative;

   font-family: MontserratBold;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 18px;
   
   color: $DarkShade75;
}
.rich-checkbox-buttons__description {

   margin-top: 7px;
   position: relative;

   font-family: MontserratRegular;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 14px;

   color: $DarkShade50;
   
   cursor: default;
}

   // checkbox border

label.rich-checkbox-buttons__label::before{
   position: absolute;
   left: -30px;
   content: "";
   display: inline-block;
   height: 20px;
   width: 20px;
   border: 1px solid;
   
   background: #FFFFFF;

   border: 1px solid $DarkShade25;
   box-sizing: border-box;
   border-radius: 4px;
}

   // checkbox flag

label.rich-checkbox-buttons__label::after {
   position: absolute;
   left: -25px;
   top: 6px;
   content: "";
   display: inline-block;
   height: 9px;
   width: 10px;
   
   background-image: url('./bem/checkbox-buttons/checkbox-buttons__flag.svg');
}

   // make checkbox flag visible when element is checked

input[type="checkbox"].rich-checkbox-buttons__checkbox + label::after {
    content: none;
}
input[type="checkbox"].rich-checkbox-buttons__checkbox:checked + label::after {
    content: "";
}

   // border is purple when checked

input[type="checkbox"].rich-checkbox-buttons__checkbox:checked + label::before {
    border-color: $Purple;
}