mixin login-card()
   .login-card
      h1 Войти
      +text-field('', '', 'Email', false)
      +text-field('', '', 'Login', false)
      +button-arrow('Войти')
      +button-light('click me')
      .login-card__last-row
         .login-card__question Нет аккаунта на Toxin?