.range-slider__wrapper {
   width: 100%;
   @extend %noselect;
}
.range-slider__header {
   display: flex;
   justify-content: space-between;
}
.range-slider__description {
   font-family: MontserratRegular;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;

   text-transform: uppercase;

   color: $DarkShade50;
}
.range-slider {
   width: 100%;
   position: relative;
   height: 6px;
   margin-top: 23px;
}
.range-slider__empty-line {
   position: absolute;
   z-index: -4;
   
   background: #FFFFFF;
   width: 100%;
   height: 6px;
   border: 1px solid $DarkShade25;
   box-sizing: border-box;
   border-radius: 3px;
}
.range-slider__filled-line {
   position: absolute;
   z-index: -3;
   height: 6px;
   margin-left: calc(100% / 3);
   width: calc(100% / 3);
   background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
   border-radius: 3px;
}
.range-slider__start {
   position: absolute;
   z-index: -2;
   top: -5px;
   left: calc(100% / 3);
   margin-left: -7px;

   width: 12px;
   height: 12px;
   background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
   border: 2px solid #FFFFFF;
   border-radius: 10px;
}
.range-slider__end {
   position: absolute;
   z-index: -1;
   top: -5px;
   left: calc(100% / 3 * 2);
   margin-left: -7px;

   width: 12px;
   height: 12px;
   background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
   border: 2px solid #FFFFFF;
   border-radius: 10px;
}