.text-field {
}
.text-field__header {
   text-transform: uppercase;
   display: flex;
   justify-content: space-between;
}
.text-field__description {
   font-family: MontserratRegular;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;

   color: $DarkShade50;
}
input.text-field__input {
   background-color: green;
   height: 44px;
   background: #FFFFFF;
   border: 1px solid $DarkShade25;
   box-sizing: border-box;
   border-radius: 4px;
   padding-left: 15px;
   padding-bottom: 13px;
   padding-top: 13px;
   
   color: $DarkShade75;
   
   outline: none;
   
   font-family: MontserratRegular;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 18px;
   width: 100%;
}
input.text-field__input::placeholder {
   color: $DarkShade25;
}
input.text-field__input:hover {
   border: 1px solid $DarkShade50;
}
input.text-field__input:focus {
   border: 1px solid $DarkShade50;
}
input.text-field__input:hover::placeholder {
   color: $DarkShade75;
}
input.text-field__input:focus::placeholder {
   color: $DarkShade75;
}
input.text-field_always-active {
   border: 1px solid $DarkShade50;
}
input.text-field_always-active::placeholder {
   color: $DarkShade75;
}
.text-field__relative {
   position: relative;
}
.text-field__arrow { 
   position: absolute;
   right: 13px;
   top: 13px;
   height: 18px;
   width: 18px;
}