mixin apartment-search-card()
   .apartment-search-card
      h1 Найдём номера под ваши пожелания
      .apartment-search-card__row
         div one
         div two
      +dropdown('Гости', 'Сколько гостей')
      +button-arrow('Подобрать номер')