mixin register-account-card()
   .register-account-card
      h1 Регистрация аккаунта
      +text-field('Имя', false)(margin='margin-top: 20px;')
      +text-field('Фамилия', false)(margin='margin-top: 10px;')
      +radio-buttons('gender', 'maleID', 'male', 'femaleID', 'female', 'Мужчина', 'Женщина')(margin='margin-top: 11px; margin-bottom: 25px;')
      h3 Дата рождения
      +masked-text-field('ДД.ММ.ГГГГ')(margin='margin-top: 5px; margin-bottom: 20px;')
      h3 Данные для входа в сервис
      +text-field('Email')(margin='margin-top: 5px;')
      +text-field('Пароль')(margin='margin-top: 10px;')
      +toggle('offers1', 'offersID1', 'Получать спецпредложения')(margin='margin-top: 10px;')
      +button-arrow('Перейти к оплате')(margin='margin-top: 25px;')
      .register-account-card__last-row
         .register-account-card__question Уже есть аккаунт на Toxin
         .register-account-card__button-wrapper
            +button-light('войти')(style='width: 99px;')