html
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet" href="style.css")
body
	a(href="uikit.html") UIKIT
	p one ss
	p another
	include some.pug
	include another.pug
	
	.some  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque consectetur excepturi, deserunt, eligendi sint possimus aliquid repellat, consequatur autem molestiae ea voluptate cum. In ullam maiores animi saepe. Ut, omnis asperiores aliquam minus temporibus, odio doloremque. Optio atque quis non nisi dignissimos eaque, aliquid labore consequatur culpa quasi inventore consequuntur!
	.some взрослые
	.some дети
	.some младенцы
	.nyan ss
	include bem/button/button.pug
	img(src="images/twitter.svg" height="40" width="40")
	img(src="images/logo.svg" height="40" width="40")
	img(src=require("./nyan.png").default height="40" width="40")