html
head
   meta(charset="UTF-8")
   title Document
   link(rel="stylesheet" href="style.css")
body
   div
      a(href="uikit1.html") UIKIT - Colors & Type
   div
      a(href="uikit2.html") UIKIT - Form Elements
   div
      a(href="uikit3.html") UIKIT - Cards
   div
      a(href="uikit4.html") UIKIT - Headers & Footers
   div
      a(href="uikit5.html") Cards in one column
   div(style="height: 1px; background-color: grey; margin: 16px 0;")
   div
      a(href="landing.html") Landing
   div
      a(href="filter.html") Search