html
head
   meta(charset="UTF-8")
   title Document
   link(rel="stylesheet" href="style.css")
body
   div
      a(href="uikit1.html") UIKIT - Colors & Type
   div
      a(href="uikit2.html") UIKIT - Form Elements