extends bem/footer/footer.pug

block description
   .footer__description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

block menu-col-1
   ul.footer__menu
      li.footer__menu-item.footer__menu-item_header Навигация
      li.footer__menu-item О нас
      li.footer__menu-item Новости
      li.footer__menu-item Служба поддержки
      li.footer__menu-item Услуги

block menu-col-2
   ul.footer__menu
      li.footer__menu-item.footer__menu-item_header О нас
      li.footer__menu-item О сервисе
      li.footer__menu-item Наша команда
      li.footer__menu-item Вакансии
      li.footer__menu-item Инвесторы

block menu-col-3
   ul.footer__menu
      li.footer__menu-item.footer__menu-item_header Служба поддержки
      li.footer__menu-item Соглашения
      li.footer__menu-item Сообщества
      li.footer__menu-item Связь с нами

block newsletter
   h3 Подписка
   .footer__subscribe-call Получайте специальные предложения и новости сервиса