@font-face {
  font-family: MontserratRegular;
  src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratRegularSvg;
  src: url(fonts/Montserrat-Regular.svg);
}

.some {
  font-family: MontserratRegular;
}
.nyan {
  width: 450px;
  height: 450px;
  background: url(nyan.png);
}