@font-face {
  font-family: MontserratRegular;
  src: url(fonts/Montserrat-Regular.ttf);
}

.some {
	font-family: MontserratRegular;
}
.nyan {
  width: 450px;
  height: 450px;
  background: url(images/nyan.png);
}