html
head
   meta(charset="UTF-8")
   title Document
   link(rel="stylesheet" href="style.css")
body

   include bem/text-field/text-field.pug
   include bem/masked-text-field/masked-text-field.pug
   include bem/dropdown/dropdown.pug
   include bem/checkbox-buttons/checkbox-buttons.pug
   include bem/radio-buttons/radio-buttons.pug
   include bem/toggle/toggle.pug
   include bem/like-button/like-button.pug
   include bem/rate-button/rate-button.pug
   include bem/range-slider/range-slider.pug
   include bem/button/button.pug
   include bem/pagination/pagination.pug
   include bem/expandable-checkbox-list/expandable-checkbox-list.pug
   
   .form-elements-base
      .uikit-logo-wrapper
         img(src=require('./svg/logo.svg').default, alt="")
      .uikit__text-field-wrapper
         +text-field('Text field', 'Default', 'Email')
      .uikit__text-field-hover-wrapper
         +text-field_hover('Text field', 'Hover / Focus', 'This is pretty awesome')
      .uikit__dropdown-default1-wrapper
         +dropdown_default1('Dropdown', 'Default', 'Сколько гостей')
      .uikit__masked-text-field-wrapper
         +masked-text-field('Masked text field')
      .uikit__date-dropdown-wrapper-1
         +dropdown('Date dropdown', 'ДД.ММ.ГГГГ')
      .uikit__date-dropdown-wrapper-2
         +dropdown('Date dropdown', '19.08.2019')
      .uikit__filter-date-dropdown-wrapper
         +dropdown('Filter date dropdown', '19 авг - 23 авг')
      .uikit__dropdown-default2-wrapper
         +dropdown_default2('Dropdown', 'Default', '2 спальни, 2 кровати...')
      .uikit__dropdown-expanded-wrapper
         +dropdown_expanded('Dropdown', 'Expanded', '2 спальни, 2 кровати...', ['спальни', 'кровати', 'ванные комнаты'], [2, 2, 0])
      .uikit__dropdown-opened1-wrapper
         +dropdown_expanded2('Dropdown', '', 'Сколько гостей', ['взрослые', 'дети', 'младенцы'], [0, 0, 0])
      .uikit__dropdown-opened2-wrapper
         +dropdown_expanded3('Dropdown', '', '3 гостя', ['взрослые', 'дети', 'младенцы'], [2, 1, 0])
      .uikit__subscription-text-field-wrapper
         +text-field('Subscription text field', '', 'Email', true)
      .uikit__checkbox-buttons-wrapper
         +checkbox-buttons('Checkbox buttons')
            +checkbox-buttons__row('checkbox1', 'checkbox1', 'Можно курить')
            +checkbox-buttons__row('checkbox2', 'checkbox2', 'Можно с питомцами', true)
            +checkbox-buttons__row('checkbox3', 'checkbox3', 'Можно пригласить гостей (до 10 человек)', true)
      .uikit__radio-buttons-wrapper
         +radio-buttons('Radio buttons')
            +radio-buttons__row('gender', 'maleID', 'male', 'femaleID', 'female', 'Мужчина', 'Женщина')
      .uikit__toggle-wrapper
         +toggle('Toggle')
            +toggle__row('offers', 'offersID', 'Получать спецпредложения', true)
            +toggle__row('offers2', 'offersID2', 'Получать спецпредложения')
      .uikit__like-button-wrapper
         h3 Like button
         .uikit__like-button-row
            +like_button('2')
            +like_button('12', true)
      .uikit__rate-button-wrapper
         h3 Rate button
         .uikit__rate-button-row
            +rate_button(5, 4)
            +rate_button()
      .uikit__range-slider-wrapper
         +range_slider('Range slider', '5 000₽ - 10 000₽')(start='left: calc(31%);' end='left: calc(62.7%)' filled='margin-left: calc(31); width: calc(31%)')
      .uikit__buttons-wrapper
         h3 Buttons
         .uikit__buttons-row1
            .uikit__button-wrapper
               +button_primary('click me')
            .uikit__button-wrapper
               +button_primary_disabled('click me')
         .uikit__buttons-row2
            .uikit__button-wrapper
               +button_light('click me')
            .uikit__button-wrapper
               +button_light_disabled('click me')
         .uikit__buttons-row3
            .uikit__button-wrapper
               +button_simple('click me')
            .uikit__button-wrapper
               +button_simple_disabled('click me')
         .uikit__buttons-row4
            +button_arrow('Перейти к оплате')
      .uikit__pagination-wrapper
         h3.uikit__pagination-h3 Pagination
         +pagination('1 – 12 из 100+ вариантов аренды')
      .uikit__expandable-checkbox-list-wrapper
         +expandable-checkbox-list('expandable checkbox list')
      .uikit__expandable-checkbox-list2-wrapper
         +expandable-checkbox-list_opened('expandable checkbox list')
            +expandable-checkbox-list_row('ecl_id1', 'ecl_checkbox1', 'Завтрак', false)
            +expandable-checkbox-list_row('ecl_id2', 'ecl_checkbox2', 'Письменный стол', true)
            +expandable-checkbox-list_row('ecl_id3', 'ecl_checkbox3', 'Стул для кормления', true)
            +expandable-checkbox-list_row('ecl_id4', 'ecl_checkbox4', 'Кроватка', true)
            +expandable-checkbox-list_row('ecl_id5', 'ecl_checkbox5', 'Телевизор', false)
            +expandable-checkbox-list_row('ecl_id6', 'ecl_checkbox6', 'Шампунь', false)
            +expandable-checkbox-list_row('ecl_id7', 'ecl_checkbox7', 'Телевизор', false)
            +expandable-checkbox-list_row('ecl_id8', 'ecl_checkbox8', 'Шампунь', false)