html
head
   meta(charset="UTF-8")
   title Document
   link(rel="stylesheet" href="style.css")
body

   include bem/text-field/text-field.pug
   include bem/masked-text-field/masked-text-field.pug
   include bem/dropdown/dropdown.pug
   
   .form-elements-base
      .uikit-logo-wrapper
         img(src=require('./svg/logo.svg').default, alt="")
      .uikit__text-field-wrapper
         +text-field('Text field', 'Email')
      .uikit__dropdown-default1-wrapper
         +dropdown_default1('Dropdown', 'Default', 'Сколько гостей')
      .uikit__masked-text-field-wrapper
         +masked-text-field('Masked text field')
      .uikit__date-dropdown-wrapper-1
         +dropdown('Date dropdown', 'ДД.ММ.ГГГГ', [])
      .uikit__date-dropdown-wrapper-2
         +dropdown('Date dropdown', '19.08.2019', [])
      .uikit__filter-date-dropdown-wrapper
         +dropdown('Filter date dropdown', '19 авг - 23 авг', [])
      .uikit__dropdown-default2-wrapper
         +dropdown_default2('Dropdown', 'Default', '2 спальни, 2 кровати...')
      .uikit__dropdown-expanded-wrapper
         +dropdown_expanded('Dropdown', 'Expanded', '2 спальни, 2 кровати...', ['спальни', 'кровати', 'ванные комнаты'], [2, 2, 0])
      .uikit__dropdown-opened-wrapper
         +dropdown('Dropdown', 'Сколько гостей', ['взрослые', 'дети', 'младенцы'], [0, 0, 0])
      .uikit__subscription-text-field-wrapper
         +text-field('Subscription text field', 'Email', true)