html
head
   meta(charset="UTF-8")
   title Document
   link(rel="stylesheet" href="style.css")
body

   include bem/button/button.pug

   include bem/header/header.pug

   .headers-n-footers-base
      .uikit-logo-wrapper
         img(src=require('./svg/logo.svg').default, alt="")
      +header('Login', 'Register')
      .headers-n-footers__indent
      +header-logged-in('Cosmin Negoita')