html
head
   meta(charset="UTF-8")
   meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
   title Document
   link(rel="stylesheet" href="style.css")
body

   include bem/block-description/block-description.pug
   include bem/text-field/text-field.pug
   include bem/masked-text-field/masked-text-field.pug
   include bem/date-dropdown/date-dropdown.pug
   include bem/dropdown/dropdown.pug
   include bem/checkbox-buttons/checkbox-buttons.pug
   include bem/radio-buttons/radio-buttons.pug
   include bem/toggle/toggle.pug
   include bem/like-button/like-button.pug
   include bem/rate-button/rate-button.pug
   include bem/range-slider/range-slider.pug
   include bem/button/button.pug
   include bem/pagination/pagination.pug
   include bem/expandable-checkbox-list/expandable-checkbox-list.pug
   include bem/feature-list/feature-list.pug
   include bem/rich-checkbox-buttons/rich-checkbox-buttons.pug
   include bem/bullet-list/bullet-list.pug
   include bem/review/review.pug
   
   .form-elements-base
      .uikit-logo-wrapper
         img(src=require('./svg/logo.svg').default, alt="")
      .uikit__text-field-wrapper
         +block-description('Text field', 'Default')(margin="margin-bottom: 5px;")
         +text-field('Email')
      .uikit__text-field-hover-wrapper
         +block-description('Text field', 'Hover / Focus')(margin="margin-bottom: 5px;")
         +text-field_hover('This is pretty awesome')
      .uikit__dropdown-default1-wrapper
         +block-description('Dropdown', 'Default')(margin="margin-bottom: 5px;")
         +dropdown_('Сколько гостей', [
            { name: 'спальни', value: 2 },
            { name: 'кровати', value: 2 },
            { name: 'ванные комнаты', value: 0 }
         ], false)
         //- +dropdown_default1('Dropdown', 'Default', 'Сколько гостей')
      .uikit__masked-text-field-wrapper
         +block-description('Masked text field', 'Default')(margin="margin-bottom: 5px;")
         +masked-text-field('ДД.ММ.ГГГГ')
      .uikit__date-dropdown-wrapper
         +date-dropdown('Date dropdown', 'ДД.ММ.ГГГГ', 'Date dropdown', '19.08.2019')
      .uikit__filter-date-dropdown-wrapper
         +block-description('Filter date dropdown')(margin="margin-bottom: 5px;")
         +dropdown('19 авг - 23 авг')
      .uikit__dropdown-default2-wrapper
         +dropdown_default2('Dropdown', 'Default', '2 спальни, 2 кровати...')
      .uikit__dropdown-expanded-wrapper
         +dropdown_expanded('Dropdown', 'Expanded', '2 спальни, 2 кровати...', ['спальни', 'кровати', 'ванные комнаты'], [2, 2, 0])
      .uikit__dropdown-opened1-wrapper
         +dropdown_expanded2('Dropdown', '', 'Сколько гостей', ['взрослые', 'дети', 'младенцы'], [0, 0, 0])
      .uikit__dropdown-opened2-wrapper
         +dropdown_expanded3('Dropdown', '', '3 гостя', ['взрослые', 'дети', 'младенцы'], [2, 1, 0])
      .uikit__subscription-text-field-wrapper
         +block-description('Subscription text field')(margin="margin-bottom: 5px;")
         +subscription-text-field('Email')
      .uikit__checkbox-buttons-wrapper
         +checkbox-buttons('Checkbox buttons')
            +checkbox-buttons__row('checkbox1', 'checkbox1', 'Можно курить')
            +checkbox-buttons__row('checkbox2', 'checkbox2', 'Можно с питомцами', true)
            +checkbox-buttons__row('checkbox3', 'checkbox3', 'Можно пригласить гостей (до 10 человек)', true)
      .uikit__radio-buttons-wrapper
         +block-description('Radio buttons')(margin="margin-bottom: 17px;")
         +radio-buttons('gender', 'maleID', 'male', 'femaleID', 'female', 'Мужчина', 'Женщина')
      .uikit__toggle-wrapper
         +block-description('Toggle')(margin="margin-bottom: 16px;")
         +toggle('offers', 'offersID', 'Получать спецпредложения', true)(margin="margin-bottom: 15px;")
         +toggle('offers2', 'offersID2', 'Получать спецпредложения')
      .uikit__like-button-wrapper
         h3 Like button
         .uikit__like-button-row
            +like_button('2')
            +like_button('12', true)
      .uikit__rate-button-wrapper
         h3 Rate button
         .uikit__rate-button-row
            +rate_button(5, 4)
            +rate_button()
      .uikit__range-slider-wrapper
         +range_slider('Range slider', '5 000₽ - 10 000₽')(start='left: calc(31%);' end='left: calc(62.7%)' filled='margin-left: calc(31); width: calc(31%)')
      .uikit__buttons-wrapper
         h3 Buttons
         .uikit__buttons-row1
            .uikit__button-wrapper
               +button-primary('click me')
            .uikit__button-wrapper
               +button-primary_disabled('click me')(style='width: 99px; padding: 14px 18px 15px;')
         .uikit__buttons-row2
            .uikit__button-wrapper
               +button-light('click me')(style='width: 99px;')
            .uikit__button-wrapper
               +button-light_disabled('click me')(style='width: 99px;')
         .uikit__buttons-row3
            .uikit__button-wrapper
               +button-simple('click me')
            .uikit__button-wrapper
               +button-simple_disabled('click me')
         .uikit__buttons-row4
            +button-arrow('Перейти к оплате')
      .uikit__pagination-wrapper
         h3.uikit__pagination-h3 Pagination
         +pagination('1 – 12 из 100+ вариантов аренды')
      .uikit__expandable-checkbox-list-wrapper
         +expandable-checkbox-list_opened('expandable checkbox list', [
            {name:'ecl_checkbox1', label: 'Завтрак', checked: false},
            {name:'ecl_checkbox2', label: 'Письменный стол', checked: true},
            {name:'ecl_checkbox3', label: 'Стул для кормления', checked: true},
            {name:'ecl_checkbox4', label: 'Кроватка', checked: true},
            {name:'ecl_checkbox5', label: 'Телевизор', checked: false},
            {name:'ecl_checkbox6', label: 'Шампунь', checked: false},
            {name:'ecl_checkbox7', label: 'Телевизор', checked: false},
            {name:'ecl_checkbox8', label: 'Шампунь', checked: false},
         ], false)(style='margin-bottom: 49px;')
         +expandable-checkbox-list_opened('expandable checkbox list', [
            {name:'ecl_checkbox9', label: 'Завтрак', checked: false},
            {name:'ecl_checkbox10', label: 'Письменный стол', checked: true},
            {name:'ecl_checkbox11', label: 'Стул для кормления', checked: true},
            {name:'ecl_checkbox12', label: 'Кроватка', checked: true},
            {name:'ecl_checkbox13', label: 'Телевизор', checked: false},
            {name:'ecl_checkbox14', label: 'Шампунь', checked: false},
            {name:'ecl_checkbox15', label: 'Телевизор', checked: false},
            {name:'ecl_checkbox16', label: 'Шампунь', checked: false},
         ], true)(style='margin-bottom: 21px;')
         +feature-list()
            +feature-list__row(require('./bem/feature-list/feature-list__smile.svg').default, 'Комфорт', 'Шумопоглощающие стены')
            +feature-list__row(require('./bem/feature-list/feature-list__house.svg').default, 'Удобство', 'Окно в каждой из спален')         
      .uikit__rich-checkbox-buttons-wrapper
         +rich-checkbox-buttons('Rich checkbox buttons')
            +rich-checkbox-buttons__row('rcb_id1', 'rcb_checkbox1', 'Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', false)
            +rich-checkbox-buttons__row('rcb_id2', 'rcb_checkbox2', 'Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.', true)
      .uikit__bullet-list-wrapper
         h3.uikit__bullet-list-header Bullet list
         +bullet-list('Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00')
      .uikit__review-wrapper
         +review(require('./images/expert.png').default, 'Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 12, true)