html
head
   meta(charset="UTF-8")
   title Document
   link(rel="stylesheet" href="style.css")
body

   include bem/button/button.pug
   include bem/text-field/text-field.pug

   include bem/header/header.pug
   include bem/footer/footer.pug

   .headers-n-footers-base
      .uikit-logo-wrapper
         img(src=require('./svg/logo.svg').default, alt="")
      +header('Login', 'Register')
         li.header__menu-item.header__menu-item_header Home
         li.header__menu-item About Us
         li.header__menu-item.header__menu-item_dropdown Services
         li.header__menu-item Careers
         li.header__menu-item News
         li.header__menu-item Documentation
      .headers-n-footers__indent
      +header-logged-in('Cosmin Negoita')
         li.header__menu-item.header__menu-item_header Home
         li.header__menu-item About Us
         li.header__menu-item.header__menu-item_dropdown Services
         li.header__menu-item Careers
         li.header__menu-item News
         li.header__menu-item Documentation
      .headers-n-footers__indent
      +footer()
      .headers-n-footers__indent
      +footer-compact()
      .headers-n-footers__indent-long