html
head
   meta(charset="UTF-8")
   title Document
   link(rel="stylesheet" href="style.css")
body

   include bem/block-description/block-description.pug
   include bem/text-field/text-field.pug
   include bem/masked-text-field/masked-text-field.pug
   include bem/date-dropdown/date-dropdown.pug
   include bem/dropdown/dropdown.pug
   include bem/checkbox-buttons/checkbox-buttons.pug
   include bem/radio-buttons/radio-buttons.pug
   include bem/toggle/toggle.pug
   include bem/like-button/like-button.pug
   include bem/rate-button/rate-button.pug
   include bem/range-slider/range-slider.pug
   include bem/button/button.pug
   include bem/pagination/pagination.pug
   include bem/expandable-checkbox-list/expandable-checkbox-list.pug
   include bem/feature-list/feature-list.pug
   include bem/rich-checkbox-buttons/rich-checkbox-buttons.pug
   include bem/bullet-list/bullet-list.pug

   include bem/apartment-search-card/apartment-search-card.pug
   include bem/apartment-summary-card/apartment-summary-card.pug
   include bem/register-account-card/register-account-card.pug
   include bem/login-card/login-card.pug
   
   .cards-base
      .uikit-logo-wrapper
         img(src=require('./svg/logo.svg').default, alt="")
      .cards__apartment-search-wrapper
         +apartment-search-card()
      .cards__login-wrapper
         +login-card()
      .cards__register-wrapper
         +register-account-card()
      .cards__apartment-summary-wrapper
         +apartment-summary-card()