mixin button-primary(text)
   button(style!=attributes.style).button.button_primary=text

mixin button-primary_disabled(text)
   button(style!=attributes.style).button.button_primary.button_disabled=text

mixin button-light(text)
   button(style!=attributes.style).button.button_light=text

mixin button-light_disabled(text)
   button(style!=attributes.style).button.button_light.button_light_disabled=text

mixin button-simple(text)
   button(style!=attributes.style).button.button_simple=text

mixin button-simple_disabled(text)
   button(style!=attributes.style).button.button_simple.button_simple_disabled=text

mixin button-arrow(text)
   button(style!=attributes.margin).button.button_arrow=text
      img(src=require('./bem/button/button__arrow.svg').default).button_arrow_svg